.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 50px;
    width: 80%;
  }
  
  .product {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.8rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    background-color: #fff;
   
  }
  
  .product img {
    width: auto;
    max-width: 240px;
    height: auto;
    max-height: 240px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .product h3 {
    color: #555;
    font-size: 0.9rem;
    margin: 8px 0;
  }
  
  .product p {
    color: #555;
    font-size: 0.8rem;
  }
  