.input-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: auto;
  margin:  2rem 0 2rem 0;
  gap: 10px;
}

.input-group{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    background-color: #adadad3d
}

.input-group input, .input-group button {
    border: none;
    background: transparent;
    font-size: 1rem;
    color: #464646;
}



.input-group input:focus {
    outline: none;
  box-shadow: none;
    border: none;
    border-color: transparent;
    background: transparent;
}
.input-group button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
}